<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Staff</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container" style="background-color: #ffffff;color: #2a2a2a;">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa663;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">Michael Camerlynck</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manage_staff">Manage Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage_orders">Manage Orders</a>
                </li>
            </ul>
            <a class="btn btn-info" href="/dummy_data" role="button">Create Dummy Data</a>
        </div>
    </div>
</nav>
<h1>Manage Staff</h1>

<div class="row">
    <div class="col-8" style="padding: 0 4rem;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Staff Name</th>
                <th scope="col">Position</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="staff : ${allStaff}">
                <th scope="row" th:text="${staff.getId()}"></th>
                <td th:text="${staff.getName()}"></td>
                <td th:text="${staff.class.getSimpleName()}"></td>
            </tr>
            </tbody>
        </table>
        
    </div>
    
    <div class="col-4">
        <div class="py-5" style="border-left:2px solid grey;padding-left: 2rem">
            <h2 class="my-3">Add New Staff Member</h2>
            <form action="/add_staff" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="waiter" value="waiter">
                    <label class="form-check-label" for="waiter">
                        Waiter
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="kitchenStaff" checked
                           value="kitchenStaff">
                    <label class="form-check-label" for="kitchenStaff">
                        Kitchen Staff
                    </label>
                </div>
                <button type="submit" class="btn btn-success mt-2">Submit</button>
            </form>
    </div>
    </div>
</div>

</body>
</html>