<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Example working with Thymeleaf</title>
</head>
<body>
<h3>Calculate Paint</h3>
<form action="/calculate" >
    <p>
        <label for="name">Enter your name</label>
        <input type="text" name="name" id="name">
    </p>
    <p>
    <p>Fill in your dimensions:</p>
    <label for="length">L</label>
    <input type="text" name="length" id="length">
    <label for="width">W</label>
    <input type="text" name="width" id="width">
    <label for="height">H</label>
    <input type="text" name="height" id="height">

    </p>
    <p>
        <input type="checkbox" name="ceiling" value="ceiling" id="ceiling">
        <label for="ceiling">Would you like to paint the ceiling?</label>
    </p>
    <p>How many layers of paint do you want?</p>
    <input type="radio" id="1layer" name="layer" value="1">
    <label for="1layer">1</label><br>
    <input type="radio" id="2layer" name="layer" value="2">
    <label for="2layer">2</label><br>
    <input type="radio" id="3layer" name="layer" value="3">
    <label for="3layer">3</label><br><br>
    <input type="submit" value="Calculate">
</form>
</body>
</html>
